<div style="background-color: rgb(250, 249, 251)">
    <tabset>
        <tab heading="All Questions" (selectTab)="loadApprovedQuestions()">
            <div class="container" *ngIf="currentUserType == 'user'" id="navbar-example2">
                <div class="mb-3">
                    <h5>Ask Your Question</h5>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ask here" rows="3"
                        [(ngModel)]="myQuestion"></textarea>
                    <div class="pad-10 post-btn">
                        <!-- <button type="button" class="btn btn-primary" (click)="askYourQuestion()">ASK</button> -->
                        <button class="btn btn-primary" type="button" (click)="askYourQuestion()">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            {{isLoading ? 'Asking...':'Ask'}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="mb-3">
                    <label class="form-label">Search</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Search Question"
                                [(ngModel)]="searchingText">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary" type="button" (click)="searchYourQuestion()">
                                <span *ngIf="isSearching" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                {{isSearching ? 'Searching...':'Search'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="container pad-10">
                    <div *ngIf="approvedQuestions.length == 0">No Data</div>
                    <div class="card margin-10" *ngFor="let questionObject of approvedQuestions">
                        <div class="card-body">
                            <div class="col-12">
                                <div class="col-8">

                                    <h5 class="card-title">{{questionObject.question}}</h5>
                                </div>
                                <div class="col-4 centered questionLeft">
                                    <p class="card-text">{{questionObject.askedBy}}</p>
                                  
                                </div>
                            </div>

                            <div class="answer-body" *ngFor="let answerObject of questionObject.allAnswers">
                                <div class="col-12">
                                    <div class="col-8">
                                        <h5 class="card-title">{{answerObject.answer}}</h5>
                                    </div>
                                    <div class="col-4 centered questionLeft">
                                        <p class="card-text">{{answerObject.answeredBy}}</p>
                                        
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="currentUserType == 'user'">
                                <label for="exampleFormControlTextarea1" class="form-label">Answer</label>
                                <textarea class="form-control" placeholder="Answer here" rows="3"
                                    [(ngModel)]="questionObject.currentAnswer"></textarea>
                                <div class="post-btn pad-10">
                                    <button class="btn btn-primary" type="button" (click)="postAnswer(questionObject)">
                                        <span *ngIf="questionObject.isLoading" class="spinner-border spinner-border-sm"
                                            role="status" aria-hidden="true"></span>
                                        {{questionObject.isLoading ? 'Posting...':'Post'}}
                                    </button>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{currentUserType == 'user' ? 'Questions and Answers Pending for approval' : 'Questions & Answers waiting for your approval'}}"
            (selectTab)="onSelect($event)">
            <div class="container pad-10">
                <!-- <div class="card"*ngFor="let questionObject of questionsWFA">
                    <div class="card-body">
                        <h5 class="card-title">{{questionObject.question}}</h5>
                        <p class="card-text">{{questionObject.askedBy}}</p>
                        <p class="card-text">{{questionObject.askedAt}}</p>
                        <button type="button" class="btn btn-primary" *ngIf="currentUserType == 'admin'" (click)="approveQuestion(questionObject)">Approve</button>
                    </div>
                </div> -->
                <div *ngIf="questionsWFA.length == 0">No Data</div>
                <div class="card margin-10" *ngFor="let questionObject of questionsWFA">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="col-8">

                                <h5 class="card-title">{{questionObject.question}}</h5>
                            </div>
                            <div class="col-4 centered questionLeft">
                                <p class="card-text">{{questionObject.askedBy}}</p>
                              
                            </div>
                        </div>
                        <div *ngIf="currentUserType == 'admin'">
                            <div class="post-btn pad-10">
                                <label class="status-text" *ngIf="questionObject.approval">Approved</label>
                                <button class="btn btn-primary" type="button" (click)="approveQuestion(questionObject)"
                                    *ngIf="!questionObject.approval">
                                    <span *ngIf="questionObject.isLoading" class="spinner-border spinner-border-sm"
                                        role="status" aria-hidden="true"></span>
                                    {{questionObject.isLoading ? 'Approving...':'Approve'}}
                                </button>
                                <button class="btn btn-primary" type="button" (click)="deleteQuestion(questionObject)">
                                    <span *ngIf="questionObject.isDeleting" class="spinner-border spinner-border-sm"
                                        role="status" aria-hidden="true"></span>
                                    {{questionObject.isDeleting ? 'Deleting...':'Delete'}}
                                </button>
                            </div>
                        </div>
                        <div *ngIf="currentUserType == 'user'">
                            <div class="post-btn pad-10">
                                <label class="status-text-pending">Approval Pending</label>
                            </div>
                        </div>
                    </div>
                    <div class="answer-body" *ngFor="let answerObject of questionObject.allAnswers">
                        <div class="col-12">
                            <div class="col-8">
                                <h5 class="card-title">{{answerObject.answer}}</h5>
                            </div>
                            <div class="col-4 centered questionLeft">
                                <p class="card-text">{{answerObject.answeredBy}}</p>
                              
                            </div>
                        </div>
                        <div *ngIf="currentUserType == 'admin'">
                            <div class="post-btn pad-10">
                                <label class="status-text" *ngIf="answerObject.approval">Approved</label>
                                <button class="btn btn-primary" type="button" (click)="approveAnswer(answerObject)"
                                    *ngIf="!answerObject.approval">
                                    <span *ngIf="answerObject.isLoading" class="spinner-border spinner-border-sm"
                                        role="status" aria-hidden="true"></span>
                                    {{answerObject.isLoading ? 'Approving...':'Approve'}}
                                </button>
                                <button class="btn btn-primary" type="button" (click)="deleteAnswer(answerObject)">
                                    <span *ngIf="answerObject.isDeleting" class="spinner-border spinner-border-sm"
                                        role="status" aria-hidden="true"></span>
                                    {{answerObject.isDeleting ? 'Deleting...':'Delete'}}
                                </button>
                            </div>
                        </div>
                        <div *ngIf="currentUserType == 'user'">
                            <div class="post-btn pad-10" *ngIf="!answerObject.approval">
                                <label class="status-text-pending">Approval Pending</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        
    </tabset>
</div>