/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-typography{
    background-color: rgb(248, 242, 248);   
}

.main-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-with-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(251, 248, 251);
    background-image: url("https://wallpaper.dog/large/20407834.jpg");
}
.centered-with-verticall{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(250, 248, 252);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-50{
    width: 50%
}

.width-30{
    width: 50%;
    background-color:rgb(250, 248, 252);

}

.col-12{
    display: flex;
}

.height-100{
    height: 100vh;
}

.pad-10{
    padding: 10px;
    background-color: transparent;
}

body {
    font-family: "calibri" !important;
}

.margin-10{
    margin: 10px;
}

.questionLeft .card-text {
    margin-bottom: 0px;
}

.card {
    background: white;
}

.card .post-btn {
    text-align: right;
}

.card .post-btn button{
    margin-left: 10px;
}

.status-text{
    color: green;
}

.status-text-pending{
    color: yellow;
}

.answer-body{
    margin: 0px 5px 5px 20px;
    padding: 0px 10px 0px 10px;
    background: hsl(0,0%,96.5%);
    border: 1px solid #dcdcdc;
    border-radius: 0px;
}

.user-navbar {
    background: white;
}

.admin-navbar {
    background: lightblue;
}

.d-flex label {
    margin-left: 10px;;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
